<div class="container-human-page">
    <div class="sidebar-nav" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">

        <div class="title-sidebar">
            
        </div>

        <div class="content content-human-practices">
            <div class="block">
                <ul>
                    <li>
                        <a pageScroll href="#women-science">
                            Woman in science
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content content-public-engagement" fxLayout="column" fxLayoutGap="10px">
            <h3>Public engamente</h3>
            <div class="block block-1">
                <h4>Education</h4>
                <ul class="list-items">
                    <li>
                        <a pageScroll href="#lessons">Lessons</a>
                    </li>
                    <li>
                        <a pageScroll href="#workshops">Workshops "Living the science"</a>
                        <ul>
                            <li>
                                <a pageScroll href="#workshop1">workshop 1</a>
                            </li>
                            <li>
                                <a pageScroll href="#workshop2">workshop 1</a>
                            </li>
                            <li>
                                <a pageScroll href="#workshop3">workshop 1</a>
                            </li>
                            <li>
                                <a pageScroll href="#workshop4">workshop 1</a>
                            </li>
                        </ul>
                    </li>
                    <li><a pageScroll href="#videogame"> Coli: The videogame </a></li>
                </ul>
            </div>
            <div class="block block-2">
                <h4>Conferences</h4>
                <ul class="list-items">
                    <li><a pageScroll href="#green-carson">Green Carson</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-info">
        <h1>HUMAN PRACTICES</h1>
        <div class="container-sections">
            <section id="women-science" class="section section-1">
                <h2>WOMEN IN SCIENCE</h2>
                <h3>INTRODUCTION</h3>
                <h4>Written by Jessica Ojeda Ochoa</h4>
                <p>
                    Over time, women have fought for equality between men and women, starting with the vote, being able
                    to
                    study, work, among many others. Currently in Mexico this issue has become more relevant, since there
                    is
                    still a certain sector of society that does not share what was written previously. And what does a
                    science contest have to do with this? Simple, we will talk about women in science and the obstacles
                    they
                    have had to go through or that they are going through to achieve their goal.
                </p>

                <p>
                    According to CONACYT (National Council for Science and Technology in Mexico) currently in the SNI
                    (National Research System), women represent the 37%, there are 10,683 scientists out of the total of
                    28,630 members of the registry, while in 2000, women accounted the 33%, there were 5919 scientists
                    out
                    of a total of 17,637 . Similarly, in a statement, UNAM said that in the 1984-2016 period, the number
                    of
                    researchers in the National System of Researchers (SNI) increased from 1,396 to 25,072. Of the first
                    total, 1,343 (81.9 percent) were male, and 253 (18.1 percent) female.
                </p>
                <p>
                    AMC (Mexican Academy of Sciences) data of February 2018 indicate that in its membership of
                    scientists in
                    areas of exact sciences (which includes astronomy, physics, engineering, mathematics, chemistry and
                    geosciences) there are 1,117 men against 194 women.
                </p>
                <p>
                    Continue talking about the AMC, in Natural Sciences, which includes agro-science, biology and
                    medicine,
                    there were 639 scientists and 260 female scientists; while in Social Sciences there were 194 of the
                    first group and 94 of the second and in Humanities 145 researchers versus 136 researchers.
                </p>
                <p>
                    At UNAM (National Autonomous University of Mexico), emeritus professors and researchers represent
                    only
                    12% of a total. Meanwhile, at the National College, an institution born with the intention of
                    grouping
                    the most outstanding artists, scientists and writers of Mexico, there have been only four women as
                    members in the 75 years that it has existed.
                </p>
                <p>
                    In the case of the state of Puebla, of the total number of researchers recognized by the SNI, 65.4%
                    corresponds to the Benemérita Universidad Autónoma de Puebla (BUAP) and the rest collaborate in
                    other
                    public and private higher education institutions. On the other hand, the number of women researchers
                    in
                    the SNI who collaborate in the BUAP is 470, while in 2010 they were 297. Of that group of national
                    researchers attached to the BUAP, 19.1% are Candidates, 56% are located in Level I; 17% in Level II;
                    and
                    7.7% in Level III. Nationally this distribution is very similar and is expressed as follows: 19% are
                    Candidates; 54.2%, Level I; 17%, Level II; and 8.5%, Level III. The BUAP has consolidated an
                    internal
                    system of recognition of its researchers through the Register of Researchers of the Vice Rectory of
                    Research and Postgraduate Studies, in which 707 members participate, of which 281 are women; that
                    is,
                    39.74% of the academics registered in said registry belong to the female sex.
                </p>
                <p>
                    We are talking about statistics and prominent and important research centers in Mexico because we
                    consider it relevant to show an introduction on how the situation of science in Mexico is and
                    because,
                    as future research or women belonging to this field, we consider it important to enter and study the
                    reasons for the causes of inequality in Mexico.
                </p>
            </section>

            <section class="section section-2">
                <h3>MOTIVATION</h3>
                <P>Our work is not only limited to statistics, but to a reflection of what women actually go through
                    science. Many of them throughout history had to fight against the stereotypes imposed by society and
                    men
                    in science, where they made sure to leave behind women in the shade, which led them to hide to
                    acquire
                    knowledge or be relegated, despite his important contributions to sciences.
                </P>
                <P>As an example, we have Albert Einstein's wife: Mileva Marić. This woman was a physical and
                    mathematical
                    Serbian, however, at that time, those careers were only studied by men, so her father had to ask for
                    a
                    special permission for her to study. Today we can know part of its history, thanks to the book “El
                    nobel
                    and the showgirl” of Nativel Preciado where he describes that both exchanged letters which were
                    mentioned as collaborators of various works among them one about the relative movement. Despite
                    this,
                    she did not get any recognition about all these works.
                </P>
                <P>However, there are hopeful emblematic cases: Marie Curie, twice Nobel Prize (1903 of Physics and 1911
                    of
                    Chemistry) and first woman to obtain that award for her research on radiation, her daughter Irene
                    Joliot
                    Curie, who in 1935 won the same recognition for his work in synthesizing radiation, Rosalind
                    Franklin
                    and his experiments in the discovery of DNA structure, Jane Goodall and his contributions in
                    chimpanzee
                    behavior as well as Lynn Margulis and his theory of cellular origin, Barbara Mcclintock who
                    discovered
                    in in the 40s and 50s, the existence of DNA fragments that are capable of changing their position on
                    a
                    chromosome and that causes nearby genes to become active or inactive. However, she received a Nobel
                    Prize in Medicine and Physiology until 1983, due to the ideas they had at that time.
                </P>
            </section>

            <section id="section3" class="section section-3">
                <h3>DEVELOPMENT AND SUPPORTING RESEARCH</h3>
                <p>The scientific field has historically been one of the most relegated in terms of gender equality.
                    Mexico
                    is no exception, and although in recent years it has made some significant progress, the inequality
                    in
                    this area is still worrying.
                </p>

                <p>How do we know that inequality in science exists in Mexico?
                </p>

                <p>Unfortunately, there is no record of these types of cases and that may be due to different factors,
                    of
                    which we will limit ourselves to two: do not exist or have not been reported. To obtain this
                    information, we will focus on interviewing researchers and collecting data from women who are not
                    yet in
                    this area.
                </p>

                <p>We decided to interview two important areas for us, in which we are at the intermediate and
                    transition
                    point: groups of female professors and doctors at the university and groups of teenagers prior to a
                    professional education start.
                </p>

                <p>The reason we decided to work with these two case groups was because:
                </p>
                <ol>
                    <li>We could collect information from people already experienced in the area, knowledgeable about
                        the problems and with an outstanding track record in science.
                    </li>
                    <li>We could gather information from teenagers who had expectations or possibly a vague idea of what
                        this world of science consisted of and that allowed us to help them broaden their horizons with
                        jobs like this.
                    </li>
                </ol>

                <p>The first interviews we conducted were focused on female doctors from both our university and the
                    Tecnologico de Monterrey in Chihuahua, the latter one conducted by the Tec-Chihuahua team.
                </p>

                <p>The first interviews aimed to gather information in relation to the experience of female doctors
                    belonging to the scientific field which have stood out for their interest, passion and trajectory in
                    science, all of them, it should be emphasized, teachers, with an academic degree of doctorate (phD).
                </p>

                <p>See the annex with the title of "interview with female doctors in the area of science"
                </p>

                <p>The second interviews were conducted with students at the secondary and high school levels, conducted
                    in
                    1 high school group and 1 high school group, where we focused on their ages and school grades.
                </p>

                <p>See the annex with the title of "interview with girls of middle and high school"
                </p>

            </section>

            <section class="section section-4">
                <h3>RESULTS</h3>
                <ul>
                    <li>
                        <h4>DOCTORS INTERVIEWS</h4>

                        <!-- video -->

                        <p>The interviews conducted here and shown to the female doctors contained questions without a
                            sequential order, since the way they were posed depended on the free sequence that the
                            context
                            gave and the interaction with the interviewee, so they do not resemble those presented in
                            the
                            questionnaire. The advantage of this procedure allowed us the possibility of not limiting
                            the
                            spontaneous responses of the interviewees, thus obtaining the fundamental and specific
                            information about the concept of themselves, as well as their condition and identity.
                        </p>
                        <p>All these questions were asked with the necessary permission and respect towards the
                            interviewees, complying with the specifications and requirements necessary for the creation
                            of
                            an environment of trust and comfort. These interviews were conducted in their work areas.
                        </p>
                        <p>This sought to obtain qualitative data shown below.
                        </p>
                        <p>According to the researchers interviewed (see annex), we observe that the main factor that
                            influences the development of women in science is social / cultural, since both society and
                            family play an important role in the education of women and girls.
                        </p>
                        <p>One point at which most of the scientists interviewed agree, is that the mentality of society
                            must be expanded or changed and not put "gender" in the different careers that exist,
                            especially
                            those involved in the area of research or industrial. In addition to this, another
                            limitation
                            not only of women, but that affects the entire body of researchers is economic, which slows
                            the
                            development of large projects. On the other hand, most of the researchers report being
                            interested in science while in university and fortunately they have not suffered any kind of
                            inequality or labor injustice due to being a woman.
                        </p>

                        <div class="list-items">
                            <ul>
                                <li><a href="https://drive.google.com/open?id=1YwPTpVIlKCFrpuBUQtO9S1OtHciyjTwI">Abigail Martínez Torres</a></li>
                                <li><a href="https://drive.google.com/open?id=1DDxnmDUpofZof_il0m_8ZH74D5Jm4KJU">Alicia Ramírez Medrano</a></li>
                                <li><a href="https://drive.google.com/open?id=1Rt5IjglWkv8XQU2SHtNmiWA11zeLeEIX">Cristina Sánchez Gamboa</a></li>
                                <li><a href="https://drive.google.com/open?id=1UDo3WVe8V-ouHac_lR-N_zT6XHiQl9oF">Elsa Iracena Castañeda Roldán</a></li>
                                <li><a href="https://drive.google.com/open?id=1TDCyKQSYzMhToEu4b6ZTt-WOR8zAkRYt">Etelvina Gándara Zamorano</a></li>
                                <li><a href="https://drive.google.com/open?id=1qgINY3KwdLQIv63ZezPOU0RPTgao0uaE">Laura Martínez Perez</a></li>
                                <li><a href="https://drive.google.com/open?id=1OEfxrz_014Hs7uK48DwasGFW6-dtQx6q">Silvia Lorena Montes Fonseca</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <h4>GIRLS INTERVIEWS</h4>
                        <p>Interviews with middle and high school girls could not be asked because we were denied
                            permission
                            in the schools we had planned, however, we suggest the following dynamics for other team who
                            would like to work this subject too.
                        </p>
                        <p>The questions should consisted equally of a multiple-choice questionnaire with subparagraphs
                            of
                            yes and not as an answer for a more organized analysis and statistical arrangement of the
                            data.
                        </p>
                        <p>In question (3) that refers to the social sciences, these include economics, political
                            science,
                            geography, demography, human ecology, psychology, sociology, semiology, anthropology,
                            archeology, history and linguistics.
                        </p>
                        <p>These interviews should be conducted to learn about the context of girls in secondary
                            education studies, close to the entrance of education at university level. We suggest to
                            give sheets with the questions to speed up the activity and gather the information in the
                            fastest and most efficient way.
                        </p>
                    </li>
                </ul>
            </section>

            <section class="section section-5">
                <h3>LINK WITH AN EXPERT
                </h3>
                <p>For the realization of these human practices we have the support of MS. Xochitl Arteaga Villamil, an
                    expert in the area of biology, philosophy of science and defender of women's rights which was a
                    great
                    guide and support for the writing of both the writing and the focus of the interviews and the
                    solution
                    proposed by the team. We met with her on multiple occasions to review our work and she was a great
                    collaborator in the final focus of our women in science themes.
                </p>
                <br>
                <img src="../../../assets/images/humanpractices/xoch.png" width="70%" height="300px">
                <br>
                <p>From the results and conclusions obtained, what we propose is to make a reform of certain articles
                    such
                    as: 5 and 36, since these are not explicit enough in the role of women in science. That is why we
                    decided to go with the lawyer Osvaldo Sastré Gómez to illustrate with his vast knowledge in this
                    area.
                </p>

                <!-- <img src="" alt=""> -->

                <p>This idea surged because of the lack of information and norms that we found about the paper of women
                    in
                    science, a situation that, considering our country, must be observed.
                </p>

                <p>Check out the legal margin initiative drafted by the lawyer Osvaldo Sastré Gómez here: <a href="https://drive.google.com/open?id=1jEOQP8y1WSZ92IKJHB9gklRc3o_lCVn8">Gender Equity Initiative</a></p>
            </section>

            <section class="section section-6">
                <h3>SOLUTIONS</h3>
                <p>
                    The team proposes two solutions, the first one, already mentioned previously, which is our legal
                    proposal on the regulation of women's equity in the scientific field. The second is a solution based
                    on
                    the second problem we find: the social sphere.

                </p>
                <p>The real question is how to interpret and solve this? It is clearly difficult to solve, but the team
                    proposes certain dynamics and activities that can be carried out to eradicate or try to reduce this
                    factor.
                </p>

                <ul>
                    <li>change of mentality and individual struggle as women.
                    </li>
                    <li>dissemination workshops on the role of women in science
                    </li>
                    <li>workshops and talks on women's motivation in this area.
                    </li>
                </ul>
            </section>

            <section class="section section-7">
                <h3>CONCLUSIONS</h3>
                <p>It is generally assumed that science has been made by men. History, with exceptions, has marginalized
                    the
                    collective memory of women scientists.
                </p>
                <p>The preferences of women remain related to the traditional idea of ​​training as an extension of the
                    domestic, where the compatibility of the role of wife and mother with that of the professional is
                    sought; then, by strongly associating professional training with gender stereotypes, expectations,
                    search and choice are defined based on its compatibility with the feminine and masculine roles that
                    we
                    have built socioculturally
                </p>
                <p>The conditions in which the scientists work in Mexico are a reason for study including the impact of
                    being a woman and being a scientist in the family, as well as innumerable factors of the
                    socio-political, economic and cultural environment such as the performance of scientific work in the
                    capital of the Republic or in the various entities, in research centers or institutions of higher
                    education, in private or public universities, in international organizations, etc.
                </p>
                <p>The purpose of this work was to investigate the state that keeps the participation of women
                    scientists
                    and researchers in Mexico, in order to propose actions that consolidate their development as
                    promoters
                    of knowledge and drivers of scientific innovation in the country.
                </p>
                <p>The first section of this paper presents the data provided by organizations and programs dedicated to
                    promoting scientific and technological research in the country, such as the Mexican Academy of
                    Sciences,
                    the Women in Science Program and the SNI. On the other hand, the participation of women researchers
                    from
                    the Benemérita Universidad Autónoma de Puebla (BUAP) was presented, all of this according to the
                    purpose
                    of our project and also the impact and scope that we wanted to show: women in science.
                </p>
                <p>Women in science as a new era, as a new and real proposal, as a problem and also as a solution.
                </p>
            </section>

            <section class="section section-8">
                <p>We are not born as a woman, but we become one</p>
                <p>Simone de Beauvoir</p>
            </section>

            <section class="section section-9">
                <h3>REFERENCES</h3>
                <ol>
                    <li>Montero Rosa.(2 de junio de 2019) “Ella tambien”. El País. Recuperado de:
                        https://elpais.com/elpais/2019/05/27/eps/1558955111_252877.html
                    </li>
                    <li>MLA style: Barbara McClintock – Facts. NobelPrize.org. Nobel Media AB 2019. Sun. 29 Sep 2019.
                        https://www.nobelprize.org/prizes/medicine/1983/mcclintock/facts/
                    </li>
                    <li>Delgado Ballesteros,
                        Gabriela sustentante La condición de género de las académicas, 2004. TESIUNAM.
                    </li>
                    <li>CONACYT, “Género y Ciencia”, 2019.
                        https://www.conacyt.gob.mx/index.php/el-conacyt/genero-y-ciencia
                    </li>
                    <li>«Contribuciones fundamentales de mujeres a la física.» (CWP). CWP y Regents of the University of
                        California. Septiembre de 2015.
                    </li>
                </ol>
            </section>

            <section id="lessons" class="section section-10">
                <h1>EDUCATION</h1>
                <p>
                    We are convinced that children represent our future as a country; If we help cultivate interest in
                    science, these children will grow up without gaps in information about it. That is why this category
                    is divided into classes, workshops and a videogame that they developed to understand the problems we
                    address within the project.
                </p>

                <h3>LESSONS</h3>

                <p>
                    Synthetic biology is a weird concept in many schools in Puebla, we decided to make several visits to
                    middle and high school institutions to share with children what is the positive impact of synthetic
                    biology and the develop of this field in recent years. In order to have better communication with
                    guys we receive support by a licentiate in education to structure our program.
                </p>

                <p>After we received some advices, we divided our program in it in two parts: Concepts and Activities.
                </p>

                <p>
                    A concept class need to be short (around 20 minutes) and as familiars as possible, we did not use a
                    lot of technicism and we replaced some concepts for other more familiar, for instance genes for Lego
                    pieces, with this strategy we got the attention of the groups.
                </p>

                <p>
                    For activities we played some games in order to feedback the new concepts they learned such as
                    synthetic biology, biobricks, genes, and much more. These games were adaptations of Mexican games as
                    “encantados” and “policias y ladrones”.
                </p>

                <p>We received a good response by children, and they learn a lot of new terms in an easy way.
                </p>

            </section>

            <section id="education-engagement" class="section section-11">
                <h1>EDUCATION AND PUBLIC ENGAGEMENT</h1>
                <p>
                    Our commitment to society was fundamental for our team, because we are sure that if people know more
                    about the problems that science tries to solve, they will want to get involved, apart from the fact
                    that we consider not only to leave work in a laboratory, it is important to transmit that new
                    information; therefore, our team tried to involve society through various activities
                </p>

                <p>
                    We believe that between science and society there is a point that makes them converge, disclosure,
                    without it both would exist in a vacuum of ideas and problems; That is why we seek to impact with
                    information and proposals, thanks to this we obtained a constant feedback in which we were able to
                    learn bidirectionally.
                </p>
            </section>

            <section id="green-carson" class="section section-12">
                <h2>CONFERENCES</h2>
                <br>
                <img src="../../../assets/images/humanpractices/greenCarson_logo.svg" width="90%" height="200px;">
                <br>
                <h3>GREEN CARSON</h3>
                <p>
                    Our project is in direct contact with the existence of pollution caused by plastic. Since this
                    direct relationship exists we have thought about how important it is, as a society to have a culture
                    of separation and recycling, in this way to put our grain of sand by decreasing the contamination by
                    this material, either by collecting and recycling together with organizations and companies in
                    charge of their collection and treatment or individually in our home.
                </p>

                <p>
                    contamination by this material, either by collecting and recycling together with organizations and
                    companies in charge of their collection and treatment or individually in our home.
                </p>

                <p>
                    We joined with Green Carson to seek the same objective; promote the culture of recycling, this was
                    achieved through conferences held at our University on Monday, August 29, 2019.where the problem of
                    plastic was addressed through raw figures as well as its impact on ecosystems on land and sea, to
                    later explain the importance of separation and recycling PET, the ways to classify it, as well as
                    the role we have as an individual and society to solve this problem.
                </p>

                <p>
                    Throughout the talk, several of the students involved expressed ideas of projects that could be
                    carried out for the reduction of PET and its use. This reinforces how important it is to inform
                    students about current issues and work on solutions within their reach, in addition to the positive
                    feedback that the company and team representatives received.
                </p>
            </section>

            <section id="workshops" class="section section-13">
                <h2>WORKSHOPS “LIVING THE SCIENCE </h2>
                <p>
                    Our team member, Jessica Ojeda, with the support of the city council of the city of Córdoba,
                    Veracruz, organized Science Workshops with a reach for people of all ages. These 3 workshops
                    consisted of a workshop on Scientific Illustration, Science Workshops and a talk about Women in
                    Science, which had a deep and direct relationship with our human practices on Women in Science.
                </p>

                <p>
                    These workshops were held at the City Municipal Library on August 30 and 31, September 7 and 8, and
                    September 21 and 22.
                </p>
            </section>

            <section id="workshop1" class="section section-14">
                <h3>SCIENTIFIC ILLUSTRATION WORKSHOP</h3>

                <p>
                    This workshop was planned and taught by Gema Cortés Pineda
                </p>

                <h4>
                    INTRODUCTION
                </h4>

                <p>
                    The illustration has been applied in science since ancient times, to represent the discoveries to
                    the public, inside and outside the scientific field. This need to disseminate information is still
                    present today through photography, 3D modeling, and digital drawing focused on science. That is why,
                    the scientific illustration workshop is proposed, since it allows the attendees to understand in a
                    practical way, the need to not only produce science in the laboratory or the field, but to make it
                    accessible and open to the public. .
                </p>

                <h4>OBJECTIVE</h4>

                <ul>
                    <li>
                        Identify the differences between scientific and naturalistic illustration. Make a botanical
                        illustration according to the knowledge learned.
                    </li>
                </ul>

                <h4>DESCRIPTION</h4>

                <p>
                    The topics addressed were the following:
                </p>

                <div class="list-items">
                    <ul>
                        <li>
                            Theory: Illustration and science. Naturalistic illustration. Scientific illustration.
                            <ol>
                                <li>A slide was presented to the attendees to identify the difference between the types
                                    of illustrations applied to science.
                                </li>
                            </ol>
                        </li>

                        <li>
                            Introduction and materials. Theory: Types of brushes and their uses. Types of paper. Pill
                            and tube watercolors.
                        </li>
                        <li>
                            Dry and wet techniques. Practical theory: Wet over wet. Diluted colors applied on a damp
                            paper. Wet over dry. Watercolor applied on a dry surface.
                            <ol>
                                <li>
                                    <span>Practice</span>: Exercise to release the hand, practicing different degrees of
                                    pressure and
                                    inclination with the brush.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Color and watercolor. Theory: Color theory. The chromatic circle Warm and cold colors
                            Complementary and similar colors.
                            <ol>
                                <li>
                                    <span>Practice</span>: Making a color circle of primary and secondary colors, and
                                    obtaining
                                    values ​​of the generated colors.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Textures. Practical theory: Generate interesting textures with common materials and without
                            the use of the brush.
                        </li>
                        <li>
                            Final exercise: Plant species were presented to the attendees, along with their anatomical
                            descriptions. From them they made silhouettes, sketches and an illustration of the species
                            highlighting the key parts according to the description.
                        </li>
                    </ul>
                </div>

                <slider-carousel [images]="sliderWIllustration"></slider-carousel>

                <br>

                <h4>OBSERVATIONS AND COMMENTS </h4>

                <p>
                    Some attendees had good theoretical and practical knowledge about the management of color applied to
                    watercolor, this facilitated the progress of the workshop and allowed more time for observation
                    exercises and to see applications of scientific drawing. It was very gratifying to see the interest
                    of the attendees and that our PlastiCO2 project was a close and done example in our region. This
                    workshop allowed attendees to understand that the applications of drawing are not limited to
                    entertainment or advertising design, but that it has been and continues to be an important pillar
                    for scientific dissemination.
                </p>
            </section>

            <section id="workshop2" class="section section-15">
                <h3>WOMEN IN SCIENCE </h3>
                <p>
                    The speakers were Jessica Ojeda Ochoa and the biologist Mirna Andrea Arellano Ruiz. We had the
                    participation of the chemist Audberto Sánchez Muñoz .
                </p>

                <h4>INTRODUCTION</h4>

                <p>
                    During the time in which we approach surveys and interviews within our integrated human practices
                    for women in science, we realize that the main factor by which girls lose interest in science is by
                    the family nucleus, that is; The parents' opinion about science and related careers is how we
                    understood that not only was the dissemination of science at different educational levels important,
                    but also to fathers and mothers. We know that we cannot impose a position on science, because people
                    are free to give a different opinion; However, we believe it is important to disseminate true
                    information about the subject, so that people can opt for a solid position with basic information.
                    This is how the discussion of women in science emerged, elaborated in order to eliminate the
                    stereotypes that Mexican culture has formed over decades about gender roles within science.
                </p>

                <slider-carousel [images]="sliderWWomanScience"></slider-carousel>

                <br>

                <h4>OBJETIVES</h4>

                <div class="list-items">
                    <ul>
                        <li>Eradicate stereotypes of gender roles within the scientific field
                        </li>
                        <li>Stimulate the scientific vocations of children and young people regardless of gender
                            stereotypes.</li>
                        <li>Contribute to the perspective of society so that they can generate actions towards gender
                            equity in science.</li>
                        <li>Make known the contribution and contributions of women to science.
                        </li>
                    </ul>
                </div>

                <h4>DESCRIPTION</h4>

                <p>
                    The talk began with examples of outstanding women within the scientific field with their respective
                    contributions, after that figures from the AMC (Mexican Academy of Sciences) and CONACYT (Council of
                    Science and Technology) on the subject were provided; this with the objective of visualizing the
                    great difference between women and men that develop within the area, comparing this figure with
                    other countries of Latin America and later with countries around the world, then a video about
                    interviews with doctors about the theme and perspective of each of them, the figures we obtained
                    through the surveys we conducted were also explained, to finally explain
                </p>

                <h4>
                    OBSERVATIONS AND COMMENTS
                </h4>

                <p>
                    We consider that it was a unique experience to be able to carry out this talk on the subject in
                    which we immersed ourselves for several months, for us it was very important the assistance of
                    fathers and mothers in which we could observe a lot of participation through questions. We
                    undoubtedly believe that it is very important to continue the dissemination of this information with
                    the aim of eliminating erroneous ideologies about women in science and promoting their participation
                    and interest in it.
                </p>
            </section>

            <section id="workshop3" class="section section-16">
                <h3>SCIENCE WORKSHOP</h3>

                <p>This workshop was planned and taught by Jessica Ojeda Ochoa </p>

                <h4>INTRODUCTION</h4>

                <p>
                    Many times educational centers lack teaching materials and personnel to prepare and conduct
                    experimental activities or educational workshops. These limitations make classes become expository,
                    with little or no participation of students and the use of laboratories is restricted. That is why
                    we decided to go beyond the theory, thus planning the science workshop, it was developed so that
                    people of all ages could have direct contact with science. Our team knows that manipulating,
                    experimenting and showing science in its real context fosters the desire to know and be partakers of
                    the scientific world. In addition, it encourages adopting a positive attitude towards science while
                    encouraging the development of skills related to the way of doing science, such as observation,
                    question and prediction, Interpretation of results, etc.
                </p>

                <h4>OBJECTIVES</h4>

                <div class="list-items">
                    <ul>
                        <li>
                            Promote scientific culture through dynamics and experiments.
                        </li>

                        <li>
                            Give examples of the benefits that science has generated as well as the benefits that could
                            bring new approaches to it.
                        </li>

                        <li>
                            Know the basic principles of genetics through experiments such as DNA extraction and the
                            application of this knowledge.
                        </li>

                        <li>
                            Develop a critical and constructive position in relation to scientific and technological
                            progress and its impact on the quality of life.
                        </li>

                        <li>
                            Foster appreciation for the environment and respect for nature, developing favorable
                            attitudes for the achievement of a healthy life at an individual and social level.
                        </li>
                    </ul>
                </div>

                <h4>
                    DESCRIPTION
                </h4>

                <p>
                    The workshop was opened through basic experiments of different sciences, in order to capture
                    everyone's attention, after that they followed some experiments about DNA, for example the
                    extraction of DNA with fruits such as strawberries, bananas and tomatoes; the principles of each
                    experiment were explained to them while they were carried out with the participation of everyone and
                    after that they were told about the applications of this knowledge, all this was necessary to land
                    on the subject of synthetic biology, where they were explained what it was and how our team worked
                    to solve environmental problems such as water acidification and plastic pollution.
                </p>

                <slider-carousel [images]="sliderWScience"></slider-carousel>

                <br>

                <h4>OBSERVATIONS AND COMMENTS</h4>

                <P>
                    It was quite satisfying to notice the children's interest in the experiments performed, see their
                    curiosity and be able to answer their questions; after this activity we have no doubt that children
                    generate the best questions; Well, your curiosity is present all the time. It was also comforting to
                    see the participation of adults as well as their surprise to understand why some phenomena happen
                    that until then they did not fully understand or had not even questioned.
                </P>
            </section>

            <section id="workshop4" class="section">
                <h3>EDUCATION FROM VIDEO GAMES </h3>
                <h4>Written By Cristobal O. Báez</h4>

                <p>
                    In the current system of educational competencies that the SEP asks teachers, it is not enough that
                    the student only memorize terms, dates, equations and data in general. This knowledge needs to be
                    processed and improved, that is, one must understand and associate them in different fields, in
                    order to apply it in a problem or new area of opportunity. That is why in our science and math
                    studies we discover new areas and topics such as electromechanics, bioethics or astrophysics.
                </p>

                <p>
                    This, together with raising interest in the syllabus, are the objectives of the educator in the
                    curriculum, as the student has to raise their knowledge beyond what is seen in the classroom.
                </p>

                <p>
                    For learning, students can be approximated by different senses, such as visual, auditory and
                    kinesthetic, with which they explore their environment and their understanding of the sciences and
                    philosophy of the human being. Each student responds with different degrees of effectiveness
                    depending on their predisposition, consequently, the teacher has to use different tools to capture
                    the student's attention and facilitate a personalized teaching. Exercises such as dictation,
                    elaborate and examine illustrations, reading and summaries, among others, are common activities that
                    educators use for understanding and information processing. And yet, modern education often ignores
                    a set of tools that cover all the senses of the human being for learning in a single medium, as well
                    as being flashy and fun for students.
                </p>

                <p>
                    That is the reason by we decided to apply a survey to students of middle school, to verify how they
                    really get certain scientific knowledge that can be, in a way, difficult to explain for teachers. As
                    well as knowing how students prefer get knowledge about this area.
                </p>

                <h4>EDUCATION ACCOMPANIED WITH DIGITAL TOOLS</h4>

                <p>
                    The teacher often thinks that these means are a substitution that is naturally from one method to
                    another "better", a book by Wikipedia. The assumption will be made that articles and digital books
                    replaced physical versions in libraries, since today's students are more instructed to investigate
                    using the internet. However, these are totally different means, which have different strengths and
                    weaknesses. For example, on the internet you will find the full biography of Hernán Cortes more
                    easily, while in a university thesis you can have specialized research on the psyche of the
                    conqueror of America. Greater ease in finding content, against specialization of information,
                    difficulty in verifying data, backups and sources, against less scope and slow distribution.
                </p>

                <p>
                    The educator must understand that, despite having certain similar characteristics (such as content
                    and information), they should be used in different instances. And so, like the didactic or
                    illustrative material that can help to understand the topics of the class, these can be confusing
                    and ineffective if they are not used in the right way.
                </p>

                <p>
                    After all research, we have a question, how do students really prefer to obtain this information?
                </p>

                <p>
                    According to the results obtained from the applied surveys, we got the follow graph which indicate
                    that children would prefer to learn science through video games more than books.
                </p>

                <br>
                <img src="../../../assets/images/humanpractices/grafica_Videojuegos.png" width="90%" height="500px">
                <br>

                <p>Likewise, the conception of videogames as an educational tool is neglected, seen merely as a
                    distractor and not a facilitator for learning. In addition to that the designers and creators of
                    this tool do not understand its potential, limitations and disadvantages, being poorly designed at
                    several points, such as:
                </p>

                <div class="list-items">
                    <ul>
                        <li>
                            Break the immersion and cause disinterest, by saturating information with long texts. Why
                            use a video game when you can read all that in a book? This should be distributed and
                            summarized along the way, to avoid being tedious and boring. Knowing how to distribute the
                            information is key.
                        </li>

                        <li>
                            The lack of user interaction, as well as uninteresting mechanics, loses the kinesthetic
                            part of student learning. Why use a videogame then, when removing user participation
                            maintains an equal product? You should not lose sight of the fact that it should also be
                            interesting to play it, as this is not an interactive book or documentary, and should not be
                            treated as such.
                        </li>

                        <li>
                            Digitizing an analog game (such as a puzzle or memory) is extremely expensive and
                            inefficient. It is easier to use or create a physical version.
                        </li>

                        <li>
                            The video game must be a tool for introducing knowledge (or in any case, a summary of
                            them) and a generator of interest, rather than the substituent of some material. The
                            videogame has the problem of reducing information, to avoid the first point, hindering a
                            complete panorama of the subject. However, the impact that the student has with the key
                            points presented to him is stronger and more lasting than with any other form of teaching.

                        </li>
                    </ul>
                </div>

            </section>

            <section id="videogame" class="section">
                <h2>COLI: THE VIDEOGAME</h2>

                <slider-carousel [images]="sliderColiVideogame"></slider-carousel>

                <br>

                <p>
                    With all this in mind, the game "Coli", (Created by Cristobal O. Báez and Gema Cortés Pineda) is
                    intended as a key teaching, for certain complicated elements of the agenda of this project for the
                    iGEM, rather than being an encyclopedia of varied knowledge to understand biology.
                </p>

                <p>
                    Likewise, it is designed for minds of secondary, elementary school, who have basic concepts of
                    biology, to understand the game.
                </p>
                <p>
                    In this game we follow Coli, a bacterium of type E. Coli, whose mission is to become a super cell,
                    in order to reduce CO2 in oceans and save the planet.
                </p>
                <p>
                    Through a talk with our heroine, they will tell us about their origin and how they will save the
                    planet. However, she will need our help to be genetically modified, and to be a super cell, through
                    biobricks.
                </p>
                <p>
                    In the same way Coli, after transforming, will give way to clean the ocean in an arcade minigame
                    under a stopwatch, where we will have to collect enzymes as quickly as possible.
                </p>

                <img src="../../../assets/images/humanpractices/bannerColi.png" width="90%" height="220px" (click)="redirectToVideogame()">

            </section>

            <section class="section">
                <h3>REFERENCES</h3>
                <div class="list-items">
                    <ul>
                        <li>
                            Tzu-Hua Wang. (mayo 2010). Web-based dynamic assessment: Taking assessment as teaching and
                            learning strategy for improving students’ e-Learning effectiveness. Computers & Education,
                            Vol. 54, P. 1157-1166.
                        </li>
                        <li>
                            Romina Iragorre. (20 mar. 2018). ¿Podemos cambiar la educación? Clubes | TEDxPaseoAlameda,
                            de Youtube. Sitio web: https://www.youtube.com/watch?v=BDzP98TCL9U
                        </li>
                        <li>
                            Gustavo de Elorza. (29 jul. 2014). Actualicemos el concepto de Educación y reiniciemos la
                            escuela | TEDxMarDelPlata. de Youtube. Sitio web:
                            https://www.youtube.com/watch?v=Iv3HaTkzAmk
                        </li>
                        <li>
                            María Ángeles González y Gabino Flores Castro, SEP. (2016). El modelado Educativo 201. El
                            planteamiento pedagógico de la Reforma Educativa. Sitio web:
                            https://www.gob.mx/cms/uploads/attachment/file/114501/Modelo_Educativo_2016.pdf
                        </li>
                        <li>
                            Lucas Gortazar. (15 ago. 2018). ¿Aprobar o aprender? | TEDxUDeusto, de Youtube. Sitio web:
                            https://www.youtube.com/watch?v=d8smMhh8DRU.
                        </li>
                        <li>
                            Angela Meluso, Meixun Zheng, Hiller A. Spires, JamesLester. (sep. 2012). Enhancing 5th
                            graders’ science content knowledge and self-efficacy through game-based learning. Computers
                            & Education, Vol. 59, P. 497-504.
                        </li>
                        <li>
                            Leslie M. Miller, Ching-I. Changa, Shu Wang, Margaret E. Beier, Yvonne Kliscc. (ago. 2011).
                            Learning and motivational impacts of a multimedia science game. Computers & Education, Vol.
                            57, P. 1425-1433.
                        </li>
                        <li>
                            Mitchell, A. & Savill-Smith, C. (2005). The use of computer and video games for learning. A
                            review of the literature. Londres: Learning and Skills Development Agency.
                        </li>
                        <li>
                            Merrilea J. Mayo. (julio 2007). Games for science and engineering education. Communications
                            Of The Acm, Vol. 50, P. 31-35.
                        </li>
                    </ul>
                </div>
            </section>
        </div>

    </div>
</div>