<div class="container-home">
    <section parallax [config]="{initialValue: -100, ratio: .5}" class="section-1">
        <h1>PLASTI<span>CO<span>2</span></span></h1>
        <h2>MAKING SOLUTIONS USING POLLUTION</h2>
    </section>

    <section class="section-2">
        <div class="central-info" data-aos="fade-down-right" data-aos-delay="50" data-aos-duration="1000">
            <p>
                From the industrial revolution to now days, the concentration of atmospheric CO2, has increased
                drastically
                causing the rise of the temperature of Earth.
            </p>
        </div>
    </section>

    <section class="section-3">
        <div class="content">
            <h3>This causes</h3>
            <div class="content-cards">
                <div class="card-1" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2dRhSpqp4-ZBmt1MLnqawPcAmW85RaSAXEZlSl4eM4-nSv-6J">
                    <div class="text">
                        La reducción de especies
                        acuáticas, con lo que se ven
                        afectadas las redes tróficas.
                    </div>
                </div>
                <div class="card-1" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2dRhSpqp4-ZBmt1MLnqawPcAmW85RaSAXEZlSl4eM4-nSv-6J">
                    <div class="text">
                        La reducción de especies
                        acuáticas, con lo que se ven
                        afectadas las redes tróficas.
                    </div>
                </div>
                <div class="card-1" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2dRhSpqp4-ZBmt1MLnqawPcAmW85RaSAXEZlSl4eM4-nSv-6J">
                    <div class="text">
                        Daños a los arrecifes de coral,
                        causando grave impacto en la
                        biodiversidad del planeta.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
