<div class="container-modal">
    <div class="container-card">
        <div class="card-image">
            <img src="{{person.picture}}" height="95%" width="100%" alt="">
        </div>
        <div class="card-content-biography">
            <h1>{{person.fullname}}</h1>
            <div class="content-info">
                <h4>Career: </h4>
                <p>{{person.career}}</p>
            </div>
            <div class="content-info">
                <h4>Corious fact: </h4>
                <p>{{person.coriousFact}}</p>
            </div>
            <div class="content-info">
                <h4>¿Why I'm in iGem? </h4>
                <p>{{person.igem}}</p>
            </div>
        </div>
    </div>
</div>