<div class="container-public-page">
    <div class="submenu">
        <ul>
            <h3>Education</h3>
            <li>
                <ul>
                    <li><a href="#section1">
                            <h4>Lessons</h4>
                        </a></li>
                    <li>
                        <a href="#section2">
                            <h4>Workshops "Living the science"</h4>
                        </a>
                        <ul>
                            <li><a href="#section1">Scientific illustration workshop</a></li>
                            <li><a href="#section1">Women science</a></li>
                            <li><a href="#section1">Science workshop</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#section3">Videogame</a></h4>
                    </li>
                </ul>
                Conferencias
            </li>
            <h3>CONFERENCES</h3>
            <ul>
                <li><a href="#section1"><h4>Green Carson</h4></a></li>
            </ul>
        </ul>
    </div>

    <div class="container">
        <section id="section1" class="section section-1">
            section 1
        </section>
        <section id="section2" class="section section-1">
            section 2
        </section>
        <section id="section3" class="section section-1">
            section 3
        </section>
    </div>
</div>