<div class="container-profile-card">
    <div class="profile-card-header">
        <img src="{{person.picture}}" alt="profile" width="100%" height="50%">
        <h2 class="name-member">{{person.fullname}}</h2>
        <h4 class="study">{{person.career}}</h4>
    </div>
    <div class="profile-card-content">

    </div>
    <div class="profile-card-footer">

    </div>
    <div class="overlay-card">
        <p>{{person.phrase}}</p>
        <p><span (click)="openBiographyModal()">Know more...</span></p>
    </div>
</div>