// @font-face {
//     font-family: "cabin-bold";
//     src: url("./assets/fonts/cabin/Cabin-Italic.ttf") format("opentype");
// }

$primary-color: rgb(52, 55, 63);
$primary-color-light: rgb(78, 82, 94);

$font-white-color: #fff;

// $cabin-bold: 'cabin-bold';